.services-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top: 13rem;
    
  }
  

  h1{
    color: white;
  }
  body {
    background-image: url("https://images.unsplash.com/photo-1607627000458-210e8d2bdb1d?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3BvcnRzfGVufDB8fDB8fHww");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

  }
  
  .service-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 250px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  
  .service-title {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .service-description {
    font-size: 1rem;
    color: #050505;
  }
  .service-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  