
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Reggae+One&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

.membership-container {
  padding: 2rem;
  text-align: center;
  
}



.membership-text{
  color: green;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-family: "Rock Salt", cursive;
}

.membership-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.membership-card {
  background-color: #ffffffce;
  border: 1px solid #2c07ff38;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px; 
  transition: transform 0.3s;
}

.membership-card:hover {
  transform: scale(1.05);
}

.membership-card-link {
  text-decoration: none;
  color: inherit;
}

.membership-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membership-card-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  font-family: "Permanent Marker", cursive;
  color: orange;
}

.membership-card-description {
  font-size: 1rem;
  color: #666;
  font-family: "Sirin Stencil", sans-serif;
  margin: 0.5rem 0;
}

.membership-card-price {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Permanent Marker", cursive;
  color:green;
  margin: 0.5rem 0;
}

.membership-card-durations {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.membership-card-durations li {
  font-size: 1rem;
  font-family: "Sirin Stencil", sans-serif;
  color: #333;
}

.membership-card-quote {
  font-style: italic;
  color: rgb(255, 115, 0);
  margin: 1rem 0;

  font-family: "Rock Salt", cursive;
}


@media (max-width: 768px) {
  .membership-card {
    width: 100%; 
    margin: 1rem 0; 
  }

  .membership-title {
    font-size: 1.5rem;
  }

  .membership-card-title {
    font-size: 1.2rem;
  }

  .membership-card-description {
    font-size: 0.9rem;
  }

  .membership-card-price {
    font-size: 1rem;
  }

  .membership-card-durations li {
    font-size: 0.9rem;
  }
}
